.caseSingle {
  font-family: "Suisse Intl";

  p {
    font-size: 20px;
    line-height: 130%;
  }
}

.caseSingle_header {
  position: relative;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  h2 {
    font-weight: 500;
    font-size: 85px;
    line-height: 85%;
    text-transform: uppercase;
    margin: 0;
    margin-left: 1%;
  }

  p {
    position: absolute;
    width: 5%;
    font-weight: 400;
    font-size: 50px;
    line-height: 85%;
    margin: 0;
    padding: 0;
    margin-left: 60%;
    margin-top: 28px;

    &:first-of-type {
      width: 12%;
      margin-left: 40%;
    }
  }
}

.description {
  width: 39%;
  margin-left: 40%;
  margin-top: 25px;
}

.tags {
  height: 140px;
  font-size: 20px;
  list-style: none;
  width: 34%;
  margin-left: 40%;
  margin-top: 50px;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;

  li {
    margin-bottom: 5px;
  }

  .tags_left {
    width: 40%;
  }

  div {
    width: 40%;
  }
}

.img_main {
  width: 100%;
  margin-top: 50px;
}

.images_block_top {
  display: flex;
  margin-left: 1%;
  margin-top: 17px;

  .img_big {
    width: 19.17%;
    margin-top: 7px;
    margin-right: 0.5%;
    object-fit: cover;
  }

  .images_column {
    display: flex;
    flex-direction: column;
    width: 19.17%;
    margin-top: 7px;

    img {
      width: 100%;

      &:first-child {
        margin-bottom: 7px;
      }
    }
  }

  .images_small {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 29%;
    margin-left: 6%;

    img {
      width: 49%;
      height: 80%;
      margin-top: 97px;
    }
  }
}

.text_block {
  position: relative;
  display: flex;
  margin-left: 1%;
  margin-top: 50px;

  p {
    width: 38.85%;
    margin: 0;

    &:nth-child(2) {
      margin-left: 1%;
    }
  }
}

.images_block_middle {
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  gap: 1%;

  img {
    width: 58.54%;
    height: max-content;
    margin-left: 40%;
  }

  div {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 50px;

    img {
      margin-left: 0;
      height: auto;
    }

    img:first-child {
      width: 39.5%;
    }
  }
}

.image_bottom {
  width: 100%;
  margin-top: 60px;
}

.text_block_bottom {
  width: 38.85%;
  margin: 0;
  margin-left: 40%;
  margin-top: 50px;
}

.back_button {
  font-family: "Suisse Intl";
  background: none;
  border: none;
  width: 120px;
  font-size: 20px;
  margin-left: 40%;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 0;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.1rem;
    display: block;
    width: 100%;
    height: 1px;
    background: black;
    transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &::before {
    transform: scaleX(0);
    transform-origin: left;
  }

  &::after {
    transform-origin: right;
    transition-delay: 0.25s;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
      transition-delay: 0.25s;
    }

    &::after {
      transform: scaleX(0);
      transition-delay: 0s;
    }
  }
}
