.caseSingle {
  font-family: "Suisse Intl";

  p {
    font-size: 20px;
    line-height: 130%;

    @media (max-width: 1400px) {
      font-size: 16px;
    }

    @media (max-width: 550px) {
      font-size: 14px;
    }
  }
}

.caseSingle_header {
  position: relative;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;

  h2 {
    font-weight: 500;
    font-size: 85px;
    line-height: 85%;
    text-transform: uppercase;
    margin: 0;
    margin-left: 1%;

    @media (max-width: 1400px) {
      font-size: 35px;
      margin-left: 2.6%;
    }

    @media (max-width: 550px) {
      font-size: 25px;
      margin-left: 6.25%;
    }
  }

  p {
    position: absolute;
    width: 5%;
    font-weight: 400;
    font-size: 50px;
    line-height: 85%;
    margin: 0;
    padding: 0;
    margin-left: 60%;
    margin-top: 28px;

    &:first-of-type {
      width: 15%;
      margin-left: 40%;

      @media (max-width: 550px) {
        font-size: 20px;
        margin-left: 6.25%;
        top: 20px;
        width: 25%;
      }
    }

    @media (max-width: 1400px) {
      font-size: 25px;
      margin-top: 7px;
    }

    @media (max-width: 550px) {
      font-size: 20px;
      margin-left: 55%;
      top: 20px;
      width: 25%;
    }
  }
}

.description {
  width: 39%;
  margin: 0;
  margin-left: 40%;
  margin-top: 25px;

  @media (max-width: 1400px) {
    width: 72%;
    margin-left: 2.5%;
  }

  @media (max-width: 550px) {
    width: 87.5%;
    margin: auto;
  }

  &:first-of-type {
    @media (max-width: 550px) {
      margin-top: 54px;
    }
  }
}

.tags {
  height: min-content;
  font-size: 20px;
  list-style: none;
  width: 34%;
  margin: 0;
  margin-left: 40%;
  margin-top: 50px;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;

  @media (max-width: 1400px) {
    margin-left: 2.5%;
    font-size: 16px;
  }

  @media (max-width: 550px) {
    font-size: 14px;
    width: 47%;
    margin-left: 6.25%;
    margin-top: 10px;
  }

  li {
    margin-bottom: 5px;
  }

  .tags_left {
    width: 40%;
  }

  div {
    width: 40%;
  }
}

.img_main {
  width: 100%;
  height: auto;
  margin-top: 50px;

  @media (max-width: 1400px) {
    margin-top: 25px;
  }

  @media (max-width: 550px) {
    margin-bottom: 25px;
  }
}

.images_block_top {
  display: flex;
  margin-left: 1%;
  margin-top: 17px;

  @media (max-width: 1400px) {
    margin-top: 50px;
    margin-left: 2.5%;
    flex-direction: column;
  }

  @media (max-width: 550px) {
    width: 87.5%;
    margin: auto;
    margin-top: 25px;
  }

  .img_big {
    display: flex;
    width: 38.85%;
    justify-content: space-between;

    @media (max-width: 1400px) {
      width: 75.5%;
    }

    @media (max-width: 550px) {
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }

    img {
      width: 49%;
      height: auto;
      margin-top: 7px;
      margin-right: 0.5%;
      object-fit: cover;

      @media (max-width: 1400px) {
        margin-right: 0;
        margin-top: 0;
        width: 49%;
      }

      @media (max-width: 550px) {
        width: 100%;
      }
    }
  }

  .images_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19%;
    margin-top: 7px;
    margin-left: 0.4%;

    @media (max-width: 1400px) {
      flex-direction: row;
      width: 75.5%;
      margin-left: 0;
      margin-top: 25px;
    }

    @media (max-width: 550px) {
      margin-top: 10px;
      width: 100%;
      flex-direction: column;
      gap: 10px;
    }

    img {
      width: 100%;
      height: auto;

      @media (max-width: 1400px) {
        width: 49%;
      }
      @media (max-width: 550px) {
        width: 100%;
      }
    }
  }

  .images_small {
    display: flex;
    justify-content: space-between;
    width: 27%;
    margin-left: 6%;

    @media (max-width: 1400px) {
      width: 42.75%;
      margin-left: 0;
      margin-top: 25px;
    }

    @media (max-width: 550px) {
      width: 100%;
      margin: auto;
      margin-top: 10px;
    }

    img {
      width: 49%;
      height: auto;
      height: 80%;
      margin-top: 97px;

      @media (max-width: 1400px) {
        margin-top: 0;
      }

      @media (max-width: 550px) {
        width: 48.5%;
      }
    }
  }
}

.text_block {
  position: relative;
  display: flex;
  margin-left: 1%;
  margin-top: 50px;

  @media (max-width: 1400px) {
    flex-direction: column;
    margin-top: 50px;
    width: 72.25%;
    margin-left: 2.5%;
  }

  @media (max-width: 550px) {
    width: 87.5%;
    margin: auto;
    margin-top: 25px;
  }

  p {
    width: 38.85%;
    margin: 0;

    @media (max-width: 1400px) {
      width: 100%;
    }

    &:nth-child(2) {
      margin-left: 1%;

      @media (max-width: 1400px) {
        margin-left: 0;
        margin-top: 25px;
      }

      @media (max-width: 550px) {
        margin-top: 10px;
      }
    }
  }
}

.images_block_middle {
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  gap: 1%;

  @media (max-width: 1400px) {
    width: 95%;
  }

  @media (max-width: 550px) {
    width: 87.5%;
    margin-top: 25px;
  }

  img {
    width: 58.54%;
    height: auto;
    margin-left: 40%;

    @media (max-width: 1400px) {
      width: 100%;
      margin-left: 0;
    }
  }

  div {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 50px;

    @media (max-width: 1400px) {
      flex-direction: column;
      gap: 25px;
      margin-bottom: 25px;
    }

    img {
      margin-left: 0;
      height: auto;
    }

    img:first-child {
      width: 39.5%;

      @media (max-width: 1400px) {
        width: 60%;
      }

      @media (max-width: 550px) {
        width: 100%;
      }
    }
  }
}

.image_bottom {
  width: 100%;
  height: auto;
  margin-top: 60px;

  @media (max-width: 550px) {
    margin-top: 25px;
  }
}

.text_block_bottom {
  width: 38.85%;
  margin: 0;
  margin-left: 40%;
  margin-top: 50px;

  @media (max-width: 1400px) {
    width: 72.25%;
    margin-left: 2.5%;
  }

  @media (max-width: 550px) {
    width: 87.5%;
    margin: auto;
    margin-top: 25px;
  }
}

.back_button {
  font-family: "Suisse Intl";
  background: none;
  border: none;
  width: 120px;
  font-size: 20px;
  margin-left: 40%;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 0;
  position: relative;
  cursor: pointer;
  color: black;

  @media (max-width: 1400px) {
    margin-left: 2.5%;
    font-size: 16px;
    width: 95px;
  }

  @media (max-width: 550px) {
    width: 83px;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 6.25%;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.1rem;
    display: block;
    width: 100%;
    height: 1px;
    background: black;
    transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &::before {
    transform: scaleX(0);
    transform-origin: left;
  }

  &::after {
    transform-origin: right;
    transition-delay: 0.25s;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
      transition-delay: 0.25s;
    }

    &::after {
      transform: scaleX(0);
      transition-delay: 0s;
    }
  }
}
