.herobanner {
  top: 0;
  width: 1920px;
  height: 950px;
  margin: auto;
  margin-bottom: 77px;
}

.background_0 {
  background-color: pink;
}

.background_1 {
  background-color: lightblue;
}

.background_2 {
  background-color: lightgreen;
}

.background_3 {
  background-color: lightgrey;
}

.background_4 {
  background-color: white;
}
