#about {
  width: 98%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;

  @media (max-width: 1439px) {
    font-size: 18px;
  }
}

.current {
  display: flex;
  margin-bottom: 52px;

  p {
    margin: 0;

    &:first-child {
      width: 20%;
    }
    &:nth-child(2) {
      width: 21%;
    }
  }
}

.text {
  display: flex;

  div {
    width: 35%;
    display: flex;
    flex-direction: column;

    &:first-of-type {
      width: 20%;
      line-height: 23px;
    }

    &:nth-of-type(2) {
      width: 41%;
      padding-right: 6.1%;
      box-sizing: border-box;
    }
  }

  p {
    margin: 0;
    padding-bottom: 12px;
  }
}
