#about {
  width: 98%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;

  @media (max-width: 1439px) {
    font-size: 16px;
    margin-bottom: 100px;
  }

  @media (max-width: 1023px) {
    width: 95%;
    font-size: 16px;
  }

  @media (max-width: 719px) {
    width: 92%;
    font-size: 14px;
    margin-top: 80px;
  }
}

.current {
  display: flex;
  margin-bottom: 52px;

  @media (max-width: 719px) {
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  p {
    margin: 0;

    &:first-child {
      width: 20%;

      @media (max-width: 1023px) {
        width: 25%;
      }

      @media (max-width: 719px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    &:nth-child(2) {
      width: 21%;

      @media (max-width: 719px) {
        width: 35%;
      }
    }
  }
}

.text {
  display: flex;

  @media (max-width: 1439px) {
    flex-wrap: wrap;
  }

  @media (max-width: 1023px) {
    flex-direction: column;
  }

  div {
    width: 35%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1439px) {
      margin-left: 20%;
      width: 56%;
    }

    @media (max-width: 1023px) {
      margin-left: 0;
      width: 81%;
    }

    @media (max-width: 719px) {
      width: 100%;
    }

    &:first-of-type {
      width: 20%;
      line-height: 23px;
      margin-left: 0;

      @media (max-width: 719px) {
        width: 100%;
      }
    }

    &:nth-of-type(2) {
      width: 41%;
      padding-right: 6.1%;
      box-sizing: border-box;
      margin-left: 0;

      @media (max-width: 1439px) {
        width: 56%;
        padding-right: 0;
      }

      @media (max-width: 1023px) {
        width: 81%;
      }

      @media (max-width: 719px) {
        width: 100%;
      }
    }
  }

  p {
    margin: 0;
    padding-bottom: 12px;
  }
}
