#about {
  width: 98%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;

  @media (max-width: 1439px) {
    margin-bottom: 100px;
  }

  @media (max-width: 1024px) {
    width: 95%;
    font-size: 16px;
  }

  @media (max-width: 719px) {
    width: 92%;
    font-size: 14px;
    margin-top: 80px;
  }

  @media (max-width: 719px) {
    margin-top: 32px;
  }
}

.current {
  display: flex;
  margin-bottom: 52px;

  @media (max-width: 719px) {
    margin-bottom: 30px;
  }

  @media (max-width: 500px) {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  p {
    margin: 0;

    &:first-child {
      width: 41%;

      @media (max-width: 719px) {
        width: 41%;
        margin-bottom: 10px;
      }

      @media (max-width: 500px) {
        width: 100%;
      }
    }

    &:nth-child(2) {
      position: relative;
      width: 20%;

      @media (max-width: 1024px) {
        width: 24.5%;
      }

      @media (max-width: 719px) {
        width: 30.5%;
      }

      @media (max-width: 499px) {
        width: 55%;
      }
    }

    &:nth-child(2)::after {
      content: "";
      position: absolute;
      top: 55%;
      left: 153px;
      right: 8px;
      height: 1px;
      background: url("../../img/line.svg");

      @media (max-width: 1024px) {
        left: 123px;
      }

      @media (max-width: 719px) {
        top: 35%;
        left: 108px;
      }

      @media (max-width: 499px) {
        top: 50%;
        left: 108px;
      }
    }
  }
}

.text {
  display: flex;

  @media (max-width: 499px) {
    flex-direction: column;
    gap: 25px;
  }

  div {
    width: 35%;
    display: flex;

    &:first-of-type {
      width: 41%;
      line-height: 23px;
      margin-left: 0;
      flex-direction: column;
    }

    &:nth-of-type(2) {
      flex-direction: column;
      width: 47%;
      box-sizing: border-box;
      margin-left: 0;
      gap: 35px;

      @media (max-width: 1024px) {
        width: 60%;
        gap: 20px;
      }

      @media (max-width: 499px) {
        width: 100%;
      }
    }
  }

  p {
    margin: 0;
    padding-bottom: 12px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -10px;

    li {
      margin-bottom: 10px;
    }
  }
}

.space {
  display: block;
  height: 20px;

  @media (max-width: 1024px) {
    height: 12px;
  }
}
