#about {
  width: 98%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 150px;
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;

  @media (max-width: 1439px) {
    margin-bottom: 80px;
  }

  @media (max-width: 1024px) {
    width: 95%;
    font-size: 16px;
  }

  @media (max-width: 719px) {
    width: 92%;
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 50px;
  }
}

.current {
  display: flex;
  margin-bottom: 52px;

  @media (max-width: 719px) {
    margin-bottom: 30px;
  }

  @media (max-width: 500px) {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  p {
    margin: 0;

    &:first-child {
      width: 41%;

      @media (max-width: 719px) {
        width: 41%;
        margin-bottom: 10px;
      }

      @media (max-width: 500px) {
        width: 100%;
      }
    }

    &:nth-child(2) {
      position: relative;
      width: 20%;

      @media (max-width: 1024px) {
        width: 24.5%;
      }

      @media (max-width: 719px) {
        width: 30.5%;
      }

      @media (max-width: 499px) {
        width: 55%;
      }
    }

    &:nth-child(2)::after {
      content: "";
      position: absolute;
      top: 55%;
      left: 153px;
      right: 8px;
      height: 1px;
      background: url("../../img/line.svg");

      @media (max-width: 1024px) {
        left: 123px;
      }

      @media (max-width: 719px) {
        top: 35%;
        left: 108px;
      }

      @media (max-width: 499px) {
        top: 50%;
        left: 108px;
      }
    }
  }
}

.text {
  display: flex;

  @media (max-width: 499px) {
    flex-direction: column;
    gap: 25px;
  }

  div {
    width: 35%;
    display: flex;

    &:first-of-type {
      width: 41%;
      line-height: 23px;
      margin-left: 0;
      flex-direction: column;
    }

    &:nth-of-type(2) {
      flex-direction: column;
      width: 47%;
      box-sizing: border-box;
      margin-left: 0;
      gap: 35px;

      @media (max-width: 1024px) {
        width: 60%;
        gap: 20px;
      }

      @media (max-width: 499px) {
        width: 100%;
      }
    }
  }

  p {
    margin: 0;
    padding-bottom: 12px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -10px;

    li {
      margin-bottom: 10px;
    }
  }
}

.space {
  display: block;
  height: 20px;

  @media (max-width: 1024px) {
    height: 12px;
  }
}

.link {
  font-family: "Suisse Intl";
  background: none;
  border: none;
  width: 80px;
  font-size: 20px;
  padding: 0;
  position: relative;
  cursor: pointer;
  color: black;

  @media (max-width: 1400px) {
    font-size: 16px;
    width: 65px;
  }

  @media (max-width: 550px) {
    width: 56px;
    font-size: 14px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.1rem;
    display: block;
    width: 100%;
    height: 1px;
    background: black;
    transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &::before {
    transform: scaleX(0);
    transform-origin: left;
  }

  &::after {
    transform-origin: right;
    transition-delay: 0.25s;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
      transition-delay: 0.25s;
    }

    &::after {
      transform: scaleX(0);
      transition-delay: 0s;
    }
  }
}
