.header__top {
  svg {
    top: 30px;
    left: 20px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
  }
}

.header__top.case_single {
  height: 160px;
}

.white {
  path {
    fill: white;
  }

  line {
    stroke: white;
  }
}
