.header__top {
  position: absolute;
  width: 98%;
  max-width: 1920px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  color: #000000;
  font-size: 20px;
  line-height: 23px;

  @media (max-width: 1199px) {
    font-size: 18px;
  }

  h1 {
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 400;
    color: #000000;
    margin: 0;
    font-size: 20px;
    line-height: 23px;

    @media (max-width: 1199px) {
      font-size: 18px;
    }
  }

  ul {
    font-family: "Suisse Intl";
    font-style: normal;
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    top: 30px;
    right: 0;
    margin: 0;
    padding: 0;

    a {
      margin-bottom: 15px;
    }
  }
}

.white {
  h1,
  a {
    color: white;
  }
}
