.herobanner {
  top: 0;
  width: 1920px;
  height: 950px;
  margin: auto;
  margin-bottom: 77px;
  cursor: pointer;
}

.background_0 {
  background: url(../../img/bg1_1920.png);
}

.background_1 {
  background: url(../../img/bg2_1920.png);
}

.background_2 {
  background: url(../../img/bg3_1920.png);
}

.background_3 {
  background: url(../../img/bg4_1920.png);
}

.background_4 {
  background-color: white;
}
