.herobanner {
  top: 0;
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  max-height: 950px;
  margin: auto;
  margin-bottom: 77px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

.background_0 {
  background-image: url(../../img/bg1_1920.png);
}

.background_1 {
  background-image: url(../../img/bg2_1920.png);
}

.background_2 {
  background-image: url(../../img/bg3_1920.png);
}

.background_3 {
  background-image: url(../../img/bg4_1920.png);
}

.background_4 {
  background-color: white;
}
