.case {
  width: 100%;
  margin: auto;
  // margin-bottom: 100px;
}

.case__header {
  display: flex;
  border-bottom: 3px solid #000000;
  font-family: "Suisse Intl";
  cursor: pointer;
  transition: all 0.1s ease-out;
  padding: 0 1%;

  @media (max-width: 1024px) {
    width: 95%;
    padding: 0 2.5%;
  }

  h2 {
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 90%;
    width: 41%;
    margin-top: 32px;

    @media (max-width: 1400px) {
      font-size: 35px;
      margin-top: 43px;
    }

    @media (max-width: 719px) {
      font-size: 25px;
      margin-top: 20px;
      width: 50%;
      line-height: 100%;
    }
  }

  p {
    margin: 0;
    margin-top: 75px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    width: 35%;

    @media (max-width: 1400px) {
      font-size: 16px;
      margin-top: 54px;
    }

    @media (max-width: 1024px) {
      font-size: 16px;
    }

    @media (max-width: 719px) {
      font-size: 14px;
      width: 25%;
      margin-top: 29px;
      line-height: 100%;
    }

    &:first-of-type {
      width: 20%;

      @media (max-width: 1024px) {
        width: 25%;
      }

      @media (max-width: 719px) {
        width: 30%;
      }
    }
  }
}

.case__active {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.1s ease-out;
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    width: 95%;
  }

  @media (max-width: 719px) {
    flex-direction: column;
  }

  .case_info {
    width: 39%;
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    margin-top: 25px;

    @media (max-width: 499px) {
      display: flex;
      flex-direction: column;
    }

    p {
      margin: 0;
    }

    a {
      display: inline-block;
      width: 95px;
      margin-top: 50px;
      // border-bottom: 1px solid black;
      position: relative;

      &::before,
      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -0.1rem;
        display: block;
        width: 100%;
        height: 1px;
        background: black;
        transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
      }

      &::before {
        transform: scaleX(0);
        transform-origin: left;
      }

      &::after {
        transform-origin: right;
        transition-delay: 0.25s;
      }

      &:hover {
        &::before {
          transform: scaleX(1);
          transition-delay: 0.25s;
        }

        &::after {
          transform: scaleX(0);
          transition-delay: 0s;
        }
      }

      @media (max-width: 1024px) {
        width: 80px;
        margin-top: 25px;
      }

      @media (max-width: 719px) {
        width: 68px;
      }
    }

    @media (max-width: 1024px) {
      width: 65%;
      margin-bottom: 35px;
      font-size: 16px;
    }

    @media (max-width: 719px) {
      width: 100%;
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  img {
    object-fit: cover;
    width: 59%;
    height: 648px;
    margin-top: 25px;
    margin-bottom: 50px;

    @media (max-width: 1919px) {
      height: 536px;
    }

    @media (max-width: 1599px) {
      height: 480px;
    }

    @media (max-width: 1024px) {
      width: 80%;
      height: 450px;
      margin-bottom: 30px;
    }

    // @media (max-width: 1024px) {
    //   width: 100%;
    //   height: 389px;
    // }

    @media (max-width: 719px) {
      height: 263px;
      margin-top: 25px;
      margin-bottom: 0;
    }

    @media (max-width: 520px) {
      height: 200px;
    }

    @media (max-width: 400px) {
      height: 160px;
    }
  }

  div {
    @media (max-width: 499px) {
      display: flex;
      justify-content: space-between;

      p {
        margin-bottom: 20px;
      }
    }
  }
}

.case__active[aria-expanded="true"] {
  max-height: 1000px;
}
