.case {
  width: 98%;
  margin: auto;
  margin-bottom: 100px;
}

.case__header {
  display: flex;
  border-bottom: 3px solid #000000;
  font-family: "Suisse Intl";
  cursor: pointer;
  transition: all 0.6s ease-out;

  h2 {
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    width: 755px;
  }

  p {
    margin: 0;
    margin-top: 60px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    &:first-of-type {
      width: 348px;
    }
  }
}

.case__active {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.7s ease-out;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  box-sizing: content-box;
  p {
    width: 39%;
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    margin: 0;
  }

  img {
    width: 59%;
    // height: 648px;
  }
}

.case__active[aria-expanded="true"] {
  max-height: 1000px;
}
